
// Var color

$c-black: black
$c-red: red
$c-white: white
$c-bg-button: #d62a5d
$c-hover-purple: #542263
$c-main-color: #e83634

//Responsive

$xs: 375px
$sm: 576px
$md: 768px
$lg: 992px
$l: 1024px
$xl: 1200px
$xxl: 1440px

